type metricsd_service, service_manager_type;
type metricscollectorservice, service_manager_type;
type peripheralman_service, service_manager_type;
type trunks_service, service_manager_type;
type weave_service, service_manager_type;
type brilloaudioservice, service_manager_type;
type webservd_service, service_manager_type;
type firewalld_service, service_manager_type;
type shill_service, service_manager_type;
