# File types must be defined for file_contexts.
type webservd_testc_exec, exec_type, file_type;
type webservd_testc_data_file, file_type, data_file_type;

# Domain for webservd_testc.  This binary is used in tests.
userdebug_or_eng(`
  type webservd_testc, domain;

  brillo_domain(webservd_testc)

  # Allow crash_reporter access to core dump files.
  allow_crash_reporter(webservd_testc)

  # Allow weaved to talk to webservd.
  allow_call_webservd(webservd_testc)
')
