# File types must be defined for file_contexts.
type webservd_test_client_exec, exec_type, file_type;
type webservd_test_client_data_file, file_type, data_file_type;

# Domain for webservd_test_client.  This binary is used in tests.
userdebug_or_eng(`
  type webservd_test_client, domain;

  brillo_domain(webservd_test_client)

  # Allow crash_reporter access to core dump files.
  allow_crash_reporter(webservd_test_client)

  # Allow servicing HTTP(S) requests via webservd.
  use_webservd(webservd_test_client)
')
