# Always start adbd

on fs
    chmod 666 /dev/tty
    setprop service.adb.tcp.port 5555
    start adbd

service adbd /sbin/adbd --root_seclabel=u:r:su:s0 --device_banner=recovery
    disabled
    socket adbd stream 660 system system
    seclabel u:r:adbd:s0

