# metrics.
type metrics, domain;
type metrics_exec, exec_type, file_type;
type metrics_data_file, file_type, data_file_type;

brillo_domain(metrics)
net_domain(metrics)

# Allow crash_reporter access to core dump files.
allow_crash_reporter(metrics)

# Rules for the metrics daemon.
allow metrics metrics_data_file:dir rw_dir_perms;
allow metrics metrics_data_file:file create_file_perms;
allow metrics block_device:blk_file getattr;
allow metrics block_device:dir search;

allow metrics labeledfs:filesystem getattr;
allow metrics proc:dir search;
allow metrics proc:file read;
allow metrics sysfs:dir read;
allow metrics sysfs_devices_system_cpu:dir search;
allow metrics zoneinfo_data_file:dir search;

allow metrics proc:file r_file_perms;

allow metrics sysfs:dir open;
allow metrics sysfs:file r_file_perms;
allow metrics sysfs:filesystem getattr;
allow metrics sysfs:lnk_file read;

r_dir_file(metrics, sysfs_devices_system_cpu)

allow metrics system_file:dir getattr;

# Allow reading os-release.d properties.
r_dir_file(metrics, os_release_file);
